* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.arrow {
  margin: 10px 0 10px 0;
}
input {
  padding: 0.5rem;
  margin-right: 10px;
}
select {
  padding: 0.5rem;
}
